<header class="page-header">
  <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color:#ffbdbd;">
    <a class="navbar-brand" href="/menu">
      <img src="https://www.freepnglogos.com/uploads/donut-png/donut-doughnut-dash-the-davis-dirt-8.png" width="55" height="50" alt="">
      TinyDonut
    </a>
    <!-- <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/menu"><h1 class="display-5">TinyDonut</h1></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <% if (session.user) { %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-4 ">
              <a class="nav-link" href="/cart">
                <span class="cartCounter badge badge-pill badge-notification bg-light"><%= session.cart ? session.cart.totalQty : ''; %> <i class="bi bi-cart-fill"></i></span>
              </a>
            </li>
            <li class="nav-item px-4 d-flex align-items-center" >
              <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%=session.user.photo_url%>" class="rounded-circle" height="25" alt="" loading="lazy"
                    />
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <h6 class="dropdown-header"><%= session.user.name %></h6>
                  <a class="dropdown-item" href="#">My Order</a>
                  <form class="d-flex" method="POST" action="/logout">
                    <button class="dropdown-item" type="submit">Logout</button>
                  </form>
                </div>
              </div>
            </li>
          </ul>
          <% } %>
    </div>
</nav>
</header>
