<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #ff83ff;">
    <a class="navbar-brand" href="/">TinyDonut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- shopping cart button -->

        <a><i class="bi bi-cart-fill" id="cart-counter">3</i></a>

      </div>
      <span id="user_span" class="navbar-text">

      </span>
    </div>

    <div class="nav navbar-nav float-md-right flex-row">
      <% if (user) { %>
        <form class="form-inline" method="POST" action="/logout">
          <div style="margin-left: 1em;">
            Logged in as: <%= user %><button class="btn btn-outline-dark" type="submit"
                style=" margin-left: 1em;">Logout</button>
          </div>
        </form>
        <% } %>

    </div>



  </nav>

</header>
