// See: https://sass-lang.com/

@import 'header';


body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_account {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s;
}

.inner:hover img {
  transform: scale(1.5);
}
