// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_account {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s;
}

.inner:hover img {
  transform: scale(1.5);
}
