// See: https://sass-lang.com/

@import 'header';


body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_account {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

